[submodule "src/userinfo-server"]
	path = src/userinfo-server
	url = https://github.com/Leosimetti/osu_django.git
[submodule "src/map-server"]
	path = src/map-server
	url = https://github.com/supersloy/StorageServer.git
[submodule "docker/wait-for-it"]
	path = docker/wait-for-it
	url = https://github.com/vishnubob/wait-for-it.git
